*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
body::before{
        content: "";
        display: block;
        width: 9%;
        background-color: #f9f9f9;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 22%;
        height: 95%;
}
header{
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto;
}
.Logo{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 38.4px */
letter-spacing: 2px;
}
.Links{
    display: flex;
    align-items: center;
}
.Navigation::after{
    content: "";
    display: block;
    height: 6px;
    background: orange;
    width: 6px;
    border-radius: 100px;
    margin: 5px 50px 0 50px;
    position: absolute;
    opacity: 0;
    
}
.Home::after{
    content: "";
    display: block;
    height: 6px;
    background: orange;
    width: 6px;
    border-radius: 100px;
    margin: 5px 25px 0 25px;
    position: absolute;
    opacity: 0;
}
.Home:hover::after, .Navigation:hover::after{
    opacity: 1;
    }
    .CategoryForSearch{
        color: #000;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Nunito Sans;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 22.8px */
        letter-spacing: 1px;
        text-decoration: none;
        padding-left: 25px;
    }
.Navigation{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 22.8px */
letter-spacing: 1px;
text-decoration: none;
padding-left: 25px;
}
.Home{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 22.8px */
letter-spacing: 1px;
text-decoration: none;
padding-left: 15px;
display: inline-block;
text-align: center;
}

.Search{
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}
.Category{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 22.8px */
    letter-spacing: 1px;
    text-decoration: none;
    padding-right: 25px;
}
.Glass {
    font-size: 20px;
}

section{
    margin: 0 auto;
}

.Container{
    display: flex;
    align-items: center;
    width: 62%;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.Image{
    width: 100%;
    height: auto;
}
.Picture{
    width: 100%;
}
.Content{
    padding-left: 100px;
}
.Text{
    border-right: 2px solid black;
    width: 97%;
}
.WorkSpace{
    display: flex;
    width: 83%;
    justify-content: space-between;
    align-items: center;
}
.Work{
    color: #F2994A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
letter-spacing: 1px;
margin: 0;
}
.Modern{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 62px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 78px */
letter-spacing: 1px;
margin: 0;
width: 83%;
}
.SecondText{
padding-top: 75px;
width: 69%;
}
.SecondText::before{
    content: "";
    display: block;
    height: 6px;
    background-color: orange;
    width: 39%;
    border-radius: 25px;
}
.Text-1{
    color:#4F4F4F;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: 1px;
}
.PlayAndSocial{
display: flex;
width: 99%;
justify-content: space-between;
}
.PlayAndWatch{
    display: flex;
    align-items: center;
}
.Play{
    width: 85px;
height: 85px;
flex-shrink: 0;
background-color: #3F9AB7;
border-radius: 50px;
display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.Play:hover{
    opacity: 0.5;
}
.PlayCircle{
    font-size: 25px;
}
.Watch{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 21.6px */
letter-spacing: 1px;
padding-left: 15px;
}
.Social{
    display: flex;
    flex-direction: column;
    width: 5%;
    align-items: end;
    height: 255px;
  
  }
.TwitterAndOther{
    font-size: 18px;
    text-align: center;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Social-item{
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-top: 20px;
}
.Social-item:hover{
    background-color: orange;
    border-radius: 100px;
}
svg:hover{
    fill: white;
}
footer{
    display: flex;
    margin: 0 auto;
    width: 100%;
    background-color: #3F9AB7;
    justify-content: center;
    padding: 30px;
}
.All{
    display: flex;
    width: 16%;
    align-items: center;
    justify-content: flex-end;
}
.FooterImages{
    display: flex;
    align-items: center;
}
.photo-1{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.photo-2{
    position: relative;
    z-index: 2;
    overflow: hidden;
    left: -15%;
    
}
.photo-3{
    position: relative;
    z-index: 3;
    left: -30%;
    overflow: hidden;
}
span{
    color: var(--white, #FFF);
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Client{
    color: var(--white, #FFF);
font-family: Nunito Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.photo-3:hover, .photo-2:hover, .photo-1:hover{
    border: 1px solid white;
    box-shadow: 7px -81px 300px 25px rgba(255,255,255,1);
    background-color: rgb(253, 253, 253);
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 1080px) {
    .Modern{
        font-size: 23px;
    }
    .Work{
        font-size: 15px;
    }
    .Text-1{
        font-size: 12px;
    }
    .Content {
        padding-left: 50px;
      }
      .Container{
        width: 91%;
      }
      header{
        width: 91%;
      }
      .Glass{
        padding-left: 10px;
      }
}
@media screen and (max-width: 896px){
    header{
        width: 72%;
    }
    .Glass{
        padding-left: 10px;
      }
}
@media screen and (max-width: 810px) {
    header{
        width: 85%;
    }
    body::before{
        height: 69%;
    }
    .Modern{
        font-size: 17px;
    }
    .Work{
        font-size: 17px;
    }
    .Container{
        width: 94%;
    }
    .Text-1{
        font-size: 12px;
    }
    .Content {
        padding-left: 95px;
      }
      .Play{
        width: 56px;
        height: 56px;
      }
      .PlayCircle{
        font-size: 15px;
      }
      .All{
        justify-content: center;
    }
    .Glass{
        padding-left: 10px;
      }
    }
    @media screen and (max-width: 812px){
        header{
            width: 94%;
        }
        .Container{
            width: 94%;
        }
        .Glass{
            padding-left: 10px;
          }
    }
    @media screen and (max-width: 667px){
        header{
            flex-direction: column;
            row-gap: 40px;
        }
        .Container{
            flex-direction: column;
        }
        .SecondText{
            padding-top: 32px;
        }
        .Glass{
            padding-left: 10px;
          }
    }
    @media screen and (max-device-width: 375px) {
        header{
            flex-direction: column;
        }
        .Container{
            flex-direction: column;
        }
        .Content {
            padding-left: 25px;
          }
        .Modern{
            font-size: 35px;
        }
        .Links{
            text-align: center;
            padding-top: 15px;
        }
        .Search{
            padding-top: 20px;
        }
        .Picture{
            width: 100%;
            height: auto;
        }
        .SecondText{
            padding-top: 30px;
        }
        .Glass{
            padding-left: 10px;
          }
    
    }
