*{
  box-sizing: border-box;  
}
body{
    margin: 0 auto;
    width: 1900px;
    height: 2201px;
}
header{
    background-color: white;
   padding: 50px 0;
}
.LogoSocialBar{

  }
.logo{
    position: absolute;
    left: 575px;
  }
.SocialFirst{
    position: absolute;
    left: 1281px;
}
.first-section{
    position: relative;
    top: 35px;
    padding: 100px 0px;
    background-color: #FAC960;
}
.paragrauph-1{
    color: #8A6D2F;
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 54px;
}

button{
    color: #FFF;
    background-color: #A8863D;
    border-radius: 0px 2px 2px 0px;
    border: 0px;
    height: 50px;
    width: 240px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 1px;
    font-family: Roboto;
}
.FirstInput{
    width: 480px;
    height: 54px;
    color: #999;
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    border-radius: 2px 0px 0px 2px;
    border-color: #FFF;
    background: #FFF;
    text-align: left;
    padding-left: 24px;
  }
.second-section{
background-color: #F2F2F2;
color: rgba(0, 0, 0, 0.56);
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px;
padding: 25px;

}
.textLorem {
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.third-section{
    background-color: white;
color: rgba(0, 0, 0, 0.56);
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.textLorem-1{
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fourth-section {
    padding: 54px;
    background-color: #FAC960;
    color: #8A6D2F;
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.lastText {
    color: rgba(0, 0, 0, 0.40);
text-align: center;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.Text{

}
.logo-2, .social-2{
    padding: 25px;
    text-align: center;
    background-color: #F2F2F2;
}
.social-2{
    padding: 25px;
}
.SecInput{
    height: 27px;
    width: 69px;
    text-align: center;
    border-radius: 3px;
border: 1px solid #758696;
background: #FFF;
}
.fsoc{
    padding-right: 10px;
}
.ssoc{
    padding-right: 10px;
}
.tsoc{
    padding-right: 10px;
}
