*{
  box-sizing: border-box;  
}
body{
    margin: 0;
}
header{
    background-color: white;
   padding: 50px 0;
}
.LogoSocialBar{
    display: inline-block;
    margin: 0 auto;
}
.logo{
position: absolute;
left: 547px;
}
.SocialFirst{
    position: absolute;
    left: 1319px;
}
.first-section{
    position: relative;
    top: 35px;
    padding: 100px 0px;
    background-color: #FAC960;
}
.paragrauph-1{
    color: #8A6D2F;
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 54px;
}

button{
    color: #FFF;
    background-color: #A8863D;
    border-radius: 0px 2px 2px 0px;
    border: 0px;
    height: 50px;
    width: 240px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 1px;
    font-family: Roboto;
}
input{
    color: #999;
    border: 0px;
    border-radius: 2px 0px 0px 2px;
    height: 50px;
    width: 560px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    margin: 1px;
    font-family: Roboto;
}
.second-section{
background-color: #F2F2F2;
color: rgba(0, 0, 0, 0.56);
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px;
padding: 25px;

}
.textLorem {
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.third-section{
    background-color: white;
color: rgba(0, 0, 0, 0.56);
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.textLorem-1{
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fourth-section {
    padding: 54px;
    background-color: #FAC960;
    color: #8A6D2F;
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.lastText {
    color: rgba(0, 0, 0, 0.40);
text-align: center;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.Text{

}
.logo-2, .social-2{
    padding: 25px;
    text-align: center;
    background-color: #F2F2F2;
}
.social-2{
    padding: 25px;
}
.SecInput{
    height: auto;
    width: 61px;
    border-radius: 3px;
    border: 0px;
    text-align: center;
}
