*{
    box-sizing: border-box;
}
body{
    font-family: 'Arvo', serif;
    font-family: 'Inter', sans-serif;
    background-image: url(../img/Fon.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    min-height: 1117px;
    line-height: normal;
}
section{
    margin: 0 auto;
    width: 88.2%;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}
.NetFlixAndFriday{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Friday{
    padding-left: 10px;
}
.Data{
    color: #C8C8C8;
    font-family: 'Arvo', serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 10px;
border-left: 2px solid white;
}
.Netflix{
    width: 156px;
    height: 48.326px;
    flex-shrink: 0;
}
.SearchAndProfile{
    display: flex;
  align-items: center;
  width: 8%;
  justify-content: space-around
}
.Search{
padding-right: 20px;
}
.First{
    width: 57%;
flex-shrink: 0;
padding-top: 80px;
}
.Lane{
    border-right: 3px solid white;
    padding-right: 15px;
}
.Genre{
color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}
.Name{
color: #FFF;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.52px;
margin: 0;
}
.Director{
    color: #FFF;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}
.Shawn{
    border-right: 3px solid white;
    padding-right: 15px;
    color: #A7A6A6;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 0.75;
    display: inline-block;
}
span{
    color: #A7A6A6;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Star{
    padding-left: 10px;
}
.Star, .FirstStar{
    font-size: 25px;
}
button:hover{
    opacity: 0.50;
}
.Buttons{
    padding-top: 40px;
    width: 65%;
    display: flex;
}
.FirstButton{
    border-radius: 10px;
    background-color: #D40D1F;
    padding: 12px 50px;
    border: none;
}
.TextForFirstButton{
    color: #FFF;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 141.523%; /* 31.135px */
}
.play{
font-size: 22px;
padding-left: 10px;
}
.SecondaryButton{
margin-left: 30px;
}
.SecondButton{
    border-radius: 10px;
    padding: 10px 55px;
    border: none;
    background-color: rgba(28,28,28,0);
    border: 2px solid white;
}
.TextForSecondButton{
color: #FFF;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 141.523%; /* 31.135px */
}
.PopularThisWeek{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.Popular{
    color: #FFF;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: 144.523%; /* 31.795px */
letter-spacing: 2.97px;
}
.Navigat{
    font-size: 18px;
}
.Navigate{
    width: 100px;
    display: flex;
  justify-content: space-between;
}
.LeftNav, .RightNav{
    width: 34.85px;
height: 34.85px;
flex-shrink: 0;
border-radius: 25px;
background-color: rgba(28,28,28,0);
}
.PostersAndPEGI{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Posters{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding-left: 108px;
}
.PEGI{
    display: flex;
    align-items: center;
    width: 70%;
    flex-direction: row-reverse;
}
.RedPEGI{
    background-color: #D40D1F;
    width: 15%;
    height: 51px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
}
.GrayPegi{
    background-color: gray;
    width: 85%;
    height: 51px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    
}
.PegiAge{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 141.523%; /* 33.965px */
}
