$MainTextColor: white;
$SecondTextColor: #F90;
$mainFont: 'Philosopher', sans-serif;
*{
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
}
body{
    margin: 0 auto;
}
.Section-1{
    width: 118.7rem;
    height: 67.5rem;
    flex-shrink: 0;
    background: linear-gradient(rgba(4, 4, 4, 0.8), rgba(0, 0, 0, 0.60)),url(../img/1section.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 25px 100px;
        justify-content: space-between;
        .White-color-style{
            color: $MainTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .Navigation{
            display: flex;
            width: 35%;
            justify-content: space-between;
            .Style-Navigation{
                color: #FFF;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
                &:hover{
                    color: $SecondTextColor;
                }    
            }
        }
        .RightLinkSection-1{
            color: $MainTextColor;
            font-family: $mainFont;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            &:hover{
                color: $SecondTextColor;
            } 
        }
    }
    .Container-Section-1{
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin: 0 auto;
        height: 36rem;
        width: 69rem;
        padding: 25px;
        .LeftPart-Section-1{

            .Title-Section-1{
                color: $MainTextColor;
                font-family: $mainFont;
                font-size: 5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: right;
            }
            .Orange-color-style-section-1{
                color: $SecondTextColor;
                font-family: $mainFont;
                font-size: 5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: right;
            }
        }
        .RightPart-Section-1{
            width: 40.375rem;
            height: 18.75rem;
            flex-shrink: 0;
            .Text-Section-1{
                color: $MainTextColor;
                font-family: $mainFont;
                font-size: 2.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 50px
            }
            .Orange-color-style-section-1{
                color: $SecondTextColor;
                font-family: $mainFont;
                font-size: 2.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 40.375rem;
                display: block;
                text-align: right;
            }
        }
    }
}
.Section-2{
    width: 118.7rem;
    height: 81.375rem;
    background-color:#F6FDEE;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 25px 100px;

        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Container-Second-Section{
        display: grid;
        padding: 25px 100px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.5fr;
        column-gap: 100px;
        align-items: center;
        .Column-1{
            h3{
                color: #F90;
                font-family: $mainFont;
                font-size: 1.5rem;
                 font-style: normal;
                 font-weight: 700;
                 line-height: normal;
            }
            .Text{
                color: #000;
                font-family: $mainFont;
                font-size: 1.125rem;
                 font-style: normal;
                 font-weight: 400;
                 line-height: normal;
                 width: 19.0625rem;
                 height: 3.6875rem;
                 flex-shrink: 0;
            }           
        }
        .Column-2{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #F90;
                font-family: $mainFont;
                font-size: 1.5rem;
                 font-style: normal;
                 font-weight: 700;
                 line-height: normal;
                 margin: 0; 
            }
            .Text{
                color: #000;
                font-family: $mainFont;
                font-size: 1.125rem;
                 font-style: normal;
                 font-weight: 400;
                 line-height: normal;
                 width: 19.0625rem;
                 height: 5.688rem;
                 text-align: center;
            }
        }
        .Column-3{
            display: flex;
            flex-direction: column;
            h3{
                color: #F90;
                font-family: $mainFont;
                font-size: 1.5rem;
                 font-style: normal;
                 font-weight: 700;
                 line-height: normal;
            }
            .Text{
                color: #000;
                font-family: $mainFont;
                font-size: 1.125rem;
                 font-style: normal;
                 font-weight: 400;
                 line-height: normal;
                 width: 19.0625rem;
                 height: 5.688rem;
                 margin: 0;
            }
        }
    }
    .Footer-Second-Section{
        padding: 25px 100px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        a{
            color: #000;
            font-family: Philosopher;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            &::after {
                content: "";
                display: block;
                height: 4px;
                background: yellow;
                width: 7rem;
                border-radius: 2px;
              }
        }
    }
}
.Section-3{
    width: 118.7rem;
    height: 81.375rem;
    background-color: white;
    display: flex;
  flex-direction: column;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Line{
        width: 118.7rem;
        height: 25.313rem;
        border-bottom: 2px solid orange;
        border-top: 2px solid orange;
        position: absolute;
        z-index: 1;
        margin-top: 64px;
        
    } 
    .Content{
        width: 118.7rem;
        height: 32.313rem;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-evenly;

        .image-1{
            background-image: url(../img/1section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 6rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .image-2{
            background-image: url(../img/3section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 5rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .image-3{
            background-image: url(../img/2section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 4rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .image-4{
            background-image: url(../img/4section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 7rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
    .Footer-Third-Section{
        padding: 25px 100px;
        display: flex;
        justify-content: flex-end;
        a{
            color: #000;
            font-family: Philosopher;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            &::after {
                content: "";
                display: block;
                height: 4px;
                background: yellow;
                width: 7rem;
                border-radius: 2px;
              }
        }
    }
}
.Section-4{
    width: 118.7rem;
    height: 59.8rem;
    background-color:#FFF;
    background-image: url(../img/1section4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 auto;
        height: 36rem;
        width: 86%;
        padding: 25px;
        .Image{

        }
        .TitleAndText{
            width: 37%;
            .Title{
                color: #000;
                font-family: Philosopher;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
            }
            .Orange-color{
                color: #F90;
                font-family: Philosopher;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
            }
            .Text{
                color: #000;
                font-family: Philosopher;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .Link{
                display: flex;
                justify-content: flex-end;
                a{
                    color: #000;
                    font-family: Philosopher;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-decoration: none;
                    &::after {
                        content: "";
                        display: block;
                        height: 4px;
                        background: yellow;
                        width: 8rem;
                        border-radius: 2px;
                      }
                }
            }
        }
    }
} 
.Section-5{
    width: 118.7rem;
    height: 59.8rem;
    background-color: white;
    display: flex;
  flex-direction: column;
  margin-bottom: 50px;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Content{
        width: 118.7rem;
        height: 32.313rem;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        .Line{
            width: 118.7rem;
            height: 43.313rem;
            border-bottom: 2px solid orange;
            border-top: 2px solid orange;
            position: absolute;
            z-index: 1;
            margin-top: 64px;
            
        }
        .Images{
            position: relative;
            z-index: 3;
            width: 118rem;
            display: grid;
            padding: 25px 100px;
            padding: 25px 100px;
            grid-template-columns: 1fr 1fr 1fr;
            .Column-1{
                display: grid;
                grid-template-areas:
              "top    top    top   " 
              "middle middle middle" 
              "bottom bottom bottom";
                grid-column-gap: 54px;
                grid-row-gap: 10px;
                width: 31rem;
                align-self: baseline;
                .image-1{
                    background-image: url(../img/1section5.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    width: 29.0625rem;
                    height: 20.5rem;
                    flex-shrink: 0;
                    grid-area: top;
                }
                .image-2{
                    background-image: url(../img/2section5.png);
                    width: 12.8125rem;
                    height: 13.75rem;
                    flex-shrink: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
                .image-3{
                    background-image: url(../img/3section5.png);
                    width: 12.8125rem;
                    height: 13.75rem;
                    flex-shrink: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
                .image-4{
                    background-image: url(../img/4section5.png);
                    width: 28.875rem;
                    height: 11rem;
                    flex-shrink: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    grid-area: bottom;
                }
            }
            .Column-2{
                display: flex;
                justify-content: center;
                width: 29rem;
                .image-4{
                    background-image: url(../img/5column2section5.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    width: 25.6875rem;
                    height: 46.56rem;
                    flex-shrink: 0;
                }
            }
            .Column-3{
                display: flex;
                flex-direction: column;
                .image-5{
                    background-image: url(../img/6section5.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    width: 43.75rem;
                    height: 25.6875rem;
                    flex-shrink: 0;
                }
                .Column-4{
                    display: grid;
                    grid-template-areas: "left middle right" "left againmiddle right" "left middle right";
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    justify-content: center;
                    row-gap: 58px;
                    column-gap: 28px;
                    margin-top: 20px;
                    .image-6{
                        background-image: url(../img/7section5.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        width: 11.1875rem;
                        height: 19.813rem;
                        flex-shrink: 0;
                        grid-area: left;
                        grid-column-start: 1;
                        grid-row-start: 1;
                    }
                    .image-7{
                        background-image: url(../img/8section5.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        width: 12.875rem;
                        grid-area: middle;
                        flex-shrink: 0;
                        grid-column-start: 2;
                        grid-row-start: -3;
                        margin-top: 58px;
                    }
                    .image-8{
                        background-image: url(../img/9section5.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        width: 12.875rem;
                        height: 9.625rem;
                        flex-shrink: 0;
                        grid-area: middle;
                        grid-column-start: 2;
                        grid-row-start: 1;
                    }
                    .image-9{
                        background-image: url(../img/10section5.png);
                        width: 17.1875rem;
                        height: 19.813rem;
                        flex-shrink: 0;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        grid-area: right;
                        grid-row-start: 1;
                    }
                }
            }
        }
    }
} 

