$MainTextColor: white;
$SecondTextColor: #F90;
$mainFont: 'Philosopher', sans-serif;
*{
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
}
body{
    margin: 0 auto;
}
.Section-1{
    height: 67.5rem;
    flex-shrink: 0;
    background: linear-gradient(rgba(4, 4, 4, 0.8), rgba(0, 0, 0, 0.60)),url(../img/1section.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 25px 100px;
        justify-content: space-between;
        .White-color-style{
            color: $MainTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .Navigation{
            display: flex;
            width: 35%;
            justify-content: space-between;
            .Style-Navigation{
                color: #FFF;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
                &:hover{
                    color: $SecondTextColor;
                }    
            }
        }
        .RightLinkSection-1{
            color: $MainTextColor;
            font-family: $mainFont;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            &:hover{
                color: $SecondTextColor;
            } 
        }
    }
    .Container-Section-1{
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin: 0 auto;
        height: 36rem;
        width: 69rem;
        padding: 25px;
        .LeftPart-Section-1{

            .Title-Section-1{
                color: $MainTextColor;
                font-family: $mainFont;
                font-size: 5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: right;
            }
            .Orange-color-style-section-1{
                color: $SecondTextColor;
                font-family: $mainFont;
                font-size: 5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: right;
            }
        }
        .RightPart-Section-1{
            width: 40.375rem;
            height: 18.75rem;
            flex-shrink: 0;
            .Text-Section-1{
                color: $MainTextColor;
                font-family: $mainFont;
                font-size: 2.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 50px
            }
            .Orange-color-style-section-1{
                color: $SecondTextColor;
                font-family: $mainFont;
                font-size: 2.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 40.375rem;
                display: block;
                text-align: right;
            }
        }
    }
}
.Section-2{
    height: 81.375rem;
    background-color:#F6FDEE;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 25px 100px;

        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Container-Second-Section{
        padding: 25px 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .column-1{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .Image-upper-left{
                background-image: url(../img/1section2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 31.8125rem;
                height: 25.8125rem;
                flex-shrink: 0;
            }
            .Text-middle-left{
                width: 19.0625rem;
                height: 8.688rem;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                h3{
                    color: #F90;
                    font-family: $mainFont;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                p{
                    color: #000;
                    font-family: $mainFont;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                }
            }
            .Image-bottom-left{
                background-image: url(../img/2section2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 31.5625rem;
                height: 19.8125rem;
                flex-shrink: 0;
            }
        }
        .column-2{
            display: flex;
            flex-direction: column;
            align-items: center;

            .Text-upper-middle{
                width: 15.875rem;
                height: 11.563rem;
                flex-shrink: 0;
                text-align: center;
                h3{
                    color: #F90;
                    font-family: $mainFont;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                p{
                    color: #000;
                    font-family: $mainFont;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                }
            }  
            .Image-middle{
                background-image: url(../img/3section2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 30.4375rem;
                height: 45.125rem;
                flex-shrink: 0;
            }
        }
        .column-3{
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            .Image-upper-right{
                background-image: url(../img/4section2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 31.75rem;
                height: 24.95794rem;
                flex-shrink: 0;
            }    
            .Text-middle-right{
                width: 19.0625rem;
                height: 8.875rem;
                flex-shrink: 0;
                h3{
                    color: #F90;
                    font-family: $mainFont;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                p{
                    color: #000;
                    font-family: $mainFont;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                }
            }
            .Image-bottom-right{
                background-image: url(../img/5section2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 31.5625rem;
                height: 19.8125rem;
                flex-shrink: 0;
            }
        }
    }
    .Footer-Second-Section{
        padding: 25px 100px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        a{
            color: #000;
            font-family: Philosopher;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            &::after {
                content: "";
                display: block;
                height: 4px;
                background: yellow;
                width: 7rem;
                border-radius: 2px;
              }
        }
    }
}
.Section-3{
    height: 81.375rem;
    background-color: white;
    display: flex;
  flex-direction: column;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Line{
        width: 118.7rem;
        height: 25.313rem;
        border-bottom: 2px solid orange;
        border-top: 2px solid orange;
        position: absolute;
        z-index: 1;
        margin-top: 64px;
        
    } 
    .Content{
        width: 118.7rem;
        height: 32.313rem;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-evenly;

        .image-1{
            background-image: url(../img/1section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 6rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .image-2{
            background-image: url(../img/3section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 5rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .image-3{
            background-image: url(../img/2section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 4rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .image-4{
            background-image: url(../img/4section3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22.4375rem;
            height: 31.25rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            padding: 35px;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            .Title{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    background: yellow;
                    width: 7rem;
                    border-radius: 2px;
                  }
            }
            .Text{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
    .Footer-Third-Section{
        padding: 25px 100px;
        display: flex;
        justify-content: flex-end;
        a{
            color: #000;
            font-family: Philosopher;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            &::after {
                content: "";
                display: block;
                height: 4px;
                background: yellow;
                width: 7rem;
                border-radius: 2px;
              }
        }
    }
}
.Section-4{
    height: 59.8rem;
    background-color:#FFF;
    background-image: url(../img/1section4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Content{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 auto;
        height: 36rem;
        width: 86%;
        padding: 25px;
        align-items: center;
        .Image{

        }
        .TitleAndText{
            width: 37%;
            .Title{
                color: #000;
                font-family: Philosopher;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
            }
            .Orange-color{
                color: #F90;
                font-family: Philosopher;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
            }
            .Text{
                color: #000;
                font-family: Philosopher;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .Link{
                display: flex;
                justify-content: flex-end;
                a{
                    color: #000;
                    font-family: Philosopher;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-decoration: none;
                    &::after {
                        content: "";
                        display: block;
                        height: 4px;
                        background: yellow;
                        width: 8rem;
                        border-radius: 2px;
                      }
                }
            }
        }
    }
} 
.Section-5{
    height: 67.8rem;
    background-color: white;
    display: flex;
  flex-direction: column;
  margin-bottom: 50px;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Content{
        width: 118.7rem;
        height: 50.313rem;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        .Line{
            width: 118.7rem;
            height: 43.313rem;
            border-bottom: 2px solid orange;
            border-top: 2px solid orange;
            position: absolute;
            z-index: 1;
            margin-top: 64px;
            
        }
        .Images{
            position: relative;
            z-index: 3;
            width: 118rem;
            display: grid;
            grid-template-columns: 28% 25% 27%;
            grid-template-rows: 45% 30% 30%;
            grid-column-gap: 35px;
            grid-row-gap: 15px;
            padding: 25px 95px;
                .image-1{
                    background-image: url(../img/1section5.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    width: 29.500rem;
                    height: 20.5rem;
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 1;
                    grid-row-end: 1;
                }
                .group-1{
                    display: flex;
                    grid-column-start: 1;
                    grid-column-end: 1;
                    position: relative;
                    z-index: 3;
                    justify-content: space-between;
                    width: 98.5%;
                    .image-2{
                        background-image: url(../img/2section5.png);
                        width: 12.8125rem;
                        height: 13.75rem;
                        flex-shrink: 0;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                    }
                    .image-3{
                        background-image: url(../img/3section5.png);
                        width: 12.8125rem;
                        height: 13.75rem;
                        flex-shrink: 0;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                    }
                }
                .image-4{
                    background-image: url(../img/4section5.png);
                    width: 29.200rem;
                    height: 11rem;
                    flex-shrink: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    grid-column-start: 1;
                    grid-column-end: 1;
                }
                .image-44{
                    background-image: url(../img/5column2section5.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    width: 26.688rem;
                    height: 48.400rem;
                    flex-shrink: 0;
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 1;
                }
                .group-2{
                    display: grid;
                    grid-column-start: 3;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 1;
                    grid-row-gap: 20px;
                    .image-5{
                        background-image: url(../img/6section5.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        width: 43.75rem;
                        height: 25.6875rem;
                    }
                    .bottom-group-2{
                        display: grid;
                        grid-template-columns: 28% 32% 40%;
                        grid-template-rows: 29% 23%;
                        grid-row-gap: 34px;
                        .image-6{
                            background-image: url(../img/7section5.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center center;
                            width: 11.1875rem;
                            height: 21.500rem;
                            flex-shrink: 0;
                            grid-column-start: 1;
                            grid-column-end: 1;
                            grid-row-start: 1;
                            grid-row-end: 1;
                        }
                    .image-7{
                        background-image: url(../img/8section5.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        width: 12.875rem;
                        width: 12.875rem;
                        height: 10.9375rem;
                        flex-shrink: 0;
                        grid-column-start: 2;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 1;
                        }
                    .image-8{
                        background-image: url(../img/9section5.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        width: 12.875rem;
                        height: 9.700rem;
                        grid-column-start: 2;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 2;
                        }
                    .image-9{
                        background-image: url(../img/10section5.png);
                        width: 17.600rem;
                        height: 19.813rem;
                        flex-shrink: 0;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        height: 21.500rem;
                        } 
                    }
                }
 
          }
    }
    .Link{
        padding: 25px 129px;
        display: flex;
        justify-content: flex-end;
        a{
            color: #000;
            font-family: Philosopher;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            &::after {
                content: "";
                display: block;
                height: 4px;
                background: yellow;
                width: 7rem;
                border-radius: 2px;
              }
        }
    }
} 
.Section-6{
    height: 64.9375rem;
    flex-shrink: 0;
    background: #F6FDEE;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .Images{
        display: grid;
        height: 64.9375rem;
        row-gap: 40px;
        grid-template-columns: 19% 34% 28%;
        grid-template-rows: 26% 40% 10%;
        justify-content: space-evenly;
        align-items: center;
        .Images-1{
            background-image: url(../img/2section6.png);
            background-repeat: no-repeat;
            width: 17.8125rem;
            height: 17.813rem;
            flex-shrink: 0;
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
            margin-top: 90px;
        }
        .Images-2{
            background-image: url(../img/1section6.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 17.8125rem;
            height: 17.8125rem;
            flex-shrink: 0;
        }
        .Images-3{
            background-image: url(../img/3section6.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 40.375rem;
            height: 40.375rem;
            flex-shrink: 0;
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 1;
        }
        .Images-4{
            background-image: url(../img/4section6.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 28rem;
            height: 18.688rem;
            flex-shrink: 0;
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;    
        }
        .Images-5{
            background-image: url(../img/5section6.png);
            background-repeat: no-repeat;
            width: 30.375rem;
            height: 29.813rem;
            flex-shrink: 0;
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 3;
        }
    }
}
.Section-7{
    height: 72.188rem;
    flex-shrink: 0;
    background-color: white;
    background-image: url(../img/LASTFON.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    header{
        display: flex;
        width: 99%;
        align-items: center;
        padding: 55px 100px;
        margin-bottom: 50px;
        .White-color-style{
            color: #000;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .Orange-color-style{
            color: $SecondTextColor;
            font-family: $mainFont;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    footer{
        .Top{
            display: flex;
            width: 92%;
            padding: 55px 100px;
            justify-content: space-between;
            flex-wrap: wrap;
            .header-2{
                margin: 23px 20px 17px 0px;
                .White-color-style{
                    color: #000;
                    font-family: $mainFont;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                .Orange-color-style{
                    color: $SecondTextColor;
                    font-family: $mainFont;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
            .Contacts{
                display: flex;
                justify-content: flex-start;
                width: 78%;
                flex-wrap: wrap;
                .contact-1{
                    width: 22.8125rem;
                    height: 18.625rem;
                    flex-shrink: 0;
                    p{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    span{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                .contact-2{
                    width: 22.8125rem;
                    height: 18.625rem;
                    flex-shrink: 0;
                    padding-left: 20px;
                    p{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    span{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                .contact-3{
                    width: 22.8125rem;
                    height: 18.625rem;
                    flex-shrink: 0;
                    padding-left: 20px;
                    p{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    span{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                .contact-4{
                    width: 22.8125rem;
                    height: 18.625rem;
                    flex-shrink: 0;
                    p{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    span{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                .contact-5{
                    display: flex;
                    flex-direction: column;
                    width: 45.813rem;
                    height: 16.625rem;
                    row-gap: 10px;
                    padding-left: 20px;
                    p{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        border: none;
                    }
                    span{
                        color: #000;
                        font-family:$mainFont;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        border-bottom: 2px solid black;
                        margin: 0;
                    }
                }
            }
        }
        .BottomButton{
            width: 93%;
            display: flex;
            justify-content: flex-end;
            button{
                width: 13.25rem;
                height: 4.125rem;
                flex-shrink: 0;
                background-color: #F90;
                span{
                    color: #000;
                    font-family:$mainFont;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }
    .BottomLine{
        display: flex;
        padding: 87px 100px;
        border-top: 1px solid black;
        background-color: rgba(0, 0, 0, 0.0);
        justify-content: space-between;
        align-items: center;
        p{
            color: #000;
            font-family:$mainFont;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }
        span{
            color: #000;
            font-family:$mainFont;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }
    }
}
