$mainColor:#E0ADC5;
$mainMargin: 0 auto;
$mainPadding: 50px;
$headerColor: white;
$mainFont: 'Poppins', sans-serif;

*{
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
}
body{
    margin: $mainMargin;
    background-color: $mainColor;
}
header{
    background-color: $headerColor;
    display: flex;
    width: 100%;
    padding: 25px 90px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    .Logo{
        width: 11%;
        display: flex;
    }

    .Navigation{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        a{
            color: #000;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.175rem;
            font-family: $mainFont;
            text-decoration: none;
        }
        .MenuForMobile{
            display: none;
        }
        .SearchForMobile{
            display: none;
        }
        .ProductsHover{
            &::after{
                content: "";
                display: block;
                width: 6rem;
                height: 0.25rem;
                flex-shrink: 0;
                background: #000;
                border-radius: 100px;
                margin: 5px auto 0 auto;
                position: absolute;
                opacity: 0;
                margin-top: 23px;
            }
            &:hover::after{
                opacity: 1;
            }
        }
        .AestheticLinesHover{
            &::after{
                content: "";
                display: block;
                width: 9.60rem;
                height: 0.25rem;
                flex-shrink: 0;
                background: #000;
                border-radius: 100px;
                margin: 5px auto 0 auto;
                position: absolute;
                opacity: 0;
                margin-top: 23px;
            }
            &:hover::after{
                opacity: 1;
            }
        }
        .InspirationHover{
            &::after{
                content: "";
                display: block;
                width: 7.35rem;
                height: 0.25rem;
                flex-shrink: 0;
                background: #000;
                border-radius: 100px;
                margin: 5px auto 0 auto;
                position: absolute;
                opacity: 0;
                margin-top: 23px;
            }
            &:hover::after{
                opacity: 1;
            }
        }

    }
    .Links{
        width: 7%;
        display: flex;
        justify-content: space-around;
        .Search, .Profile, .Bag{
            font-size: 17px;
        }
    }

}
section{
    padding: 50px;
    .Container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 88%;
        .LeftPart{
            width: 49%;
            display: flex;
            flex-direction: column;
}
        }
        .Text{
            width: 72%;
            h1{
                color: #FFF;
                font-family: $mainFont;
                font-size: 9.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: 9.375rem; /* 100% */
                margin: 0;
            }
            p{
                color: #FFF;
                font-family: $mainFont;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5rem; /* 150% */
            }
        }
        .Buttons{
            display: flex;
            width: 60%;
            justify-content: space-between;
            margin-top: 35px;
        }
        .ShopNowButton{
            display: flex;
            width: 17rem;
            height: 3.25rem;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            background: #000;
            border: none;
        }
        span{
            color: #FFF;
            font-family: $mainFont;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5rem; /* 150% */
            text-transform: uppercase;
        }
        .PlayButton{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            background-color: $mainColor;
            border: none;
        }
        .WatchVideo{
            color: #000;
            font-family: $mainFont;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5rem; /* 150% */
            text-transform: uppercase;
            margin-left: 10px;
        }
        .CirclePlayButton{
            font-size: 1.75rem;
        }
        .ForPlayButton{
            border-radius: 100px;
            width: 3.125rem;
            height: 3.125rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
        }
        .Pictures{
            display: flex;
            margin-top: 40px;
            width: 60%;
        }
        .ProductsImage-1, .ProductsImage-2, .ProductsImage-3, .ProductsImage-4{
            width: 5rem;
            height: 5rem;
            flex-shrink: 0;
            border-radius: 0.4375rem;
            border: 1px solid #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: white;
            }
        }
        .ProductsImage-2, .ProductsImage-3, .ProductsImage-4{
            margin-left: 20px;
        }
        .ProductsImage-3{
            background-color: white;
        }
        .RightPart{
            .PositionPicture{
            }
            .PINK{
                width: 90%;
                display: flex;
                justify-content: flex-end;
                margin: 50px auto;
                position: relative;
                z-index: 1;
                .ForPinkDiv{
                    width: 32.01288rem;
                    height: 7.5225rem;
                    transform: rotate(-90deg);
                    flex-shrink: 0;
                }
            }
            .Decoration{
                display: flex;
                align-items: center;
                padding-left: 50px;
            }
        }
    }

@media screen and (max-device-width: 375px){
    header{
        .Logo{
            width: 34%;
            order: 1;
        }
        padding: 25px;
        .Navigation{
            width: 16%;
            .ProductsHover, .InspirationHover, .AestheticLinesHover{
                display: none;
            }
            .MenuForMobile, .SearchForMobile{
                display: block;
                font-size: 17px;
            }
        }
        .Links{
            order: 2;
            width: 22%;
            flex-direction: row-reverse;
            .Search{
                display: none;
            }
        }
    }
    section{
        padding: 25px;
        .Container{
            flex-direction: column;
            width: 100%;
            .LeftPart{
                width: 100%;
                .Text{
                    width: 100%;
                    h1{
                        font-size: 5.375rem;
                    }
                    p{
                        text-align: center;
                    }
                }
                .Buttons{
                    justify-content: space-around;
                    width: 100%;
                    .ShopNowButton{
                        width: 12rem;
                    }
                    .PlayButton{
                        span{
                            display: none;
                        }
                    }
                }
                .Pictures{
                    display: none;
                }
            }
            .RightPart{
                .PINK{
                    justify-content: flex-start;
                    svg{
                        width: 3.522rem;
                        height: 13.939rem;
                    }
                }
                .PositionPicture{
                    width: 10.28175rem;
                    height: 13.25rem;
                    flex-shrink: 0;
                }
            }
        }
    }
}

