*{
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    background-image: url(../HW06/img/fonst.png);
    width: 1900px;
height: 1117px;
flex-shrink: 0;
background-repeat: no-repeat;
display: flex;
background-size: cover;
}
.First{
    width: 1900px;
}
.Head{
    display: flex;
    width: 1900px;
    justify-content: flex-start;
}
.NetflixVectorText{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 1900px;
}
.Netflix{
    display: flex;
    padding-top: 70px;
    padding-left: 37px;
}
.Vector{
    display: flex;
    padding-top: 77px;
    padding-left: 8px;

}
.Friday{
    padding-left: 13px;
    display: flex;
    padding-top: 83px;
}
.Avatarandsearch{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    height: 78%;
    align-items: flex-end;
    width: 1468px;
}
.Search{
    padding-right: 35px;
}
.Ellipse{
    padding-top: 42px;
}
.Drama{
    display: flex;
    flex-direction: column;
    padding: 88px;
    padding-left: 39px;
    color: #FFF;
    font-family: 'Inter Tight', sans-serif;
    font-size: 33px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Stranger{
    color: #FFF;
    font-family: 'Inter Tight', sans-serif;
    font-size: 67px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.52px;
}
.Director{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Shawn{
color: gray;
font-family: 'Inter Tight', sans-serif;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Season{
    color: gray;
font-family: 'Inter Tight', sans-serif;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.SecText{
    width: 864px;
height: 130px;
flex-shrink: 0;
color: #A7A6A6;
font-family: 'Inter Tight', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 141.523%; /* 33.965px */
}
.Streamnow{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 718px
}
.Stream{
    width: 312px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D40D1F;
    border-color:#D40D1F ;
}
.play{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.StreamText{
color: #FFF;
font-family: 'Inter Tight', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 141.523%; /* 31.135px */
}
.Allseries{ 
    display: flex;
    width: 312px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: rgba(28,28,28,0)
}
.Allbutton{
    padding-left: 40px;
    color: #FFF;
    display: flex;
font-family: 'Inter Tight', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 141.523%;
}
.POPULAR{
    border: 1xp solid green;
    padding-top: 25px;
    color: #FFF;
    font-family: 'Inter Tight', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: 144.523%;
    letter-spacing: 2.97px;
    width: 886px;
    display: flex;
}
.Films{
}
.Ffilm{
    background-image: url(../HW06/img/Rectangle\ 6.png);
    width: 151px;
height: 210px;
flex-shrink: 0;
}
.Sfilm{
    background-image: url(../HW06/img/Rectangle\ 7.png);
    width: 151px;
height: 210px;
flex-shrink: 0;
}
.Tfilm{
    background-image: url(../HW06/img/Rectangle\ 8.png);
    width: 151px;
height: 210px;
flex-shrink: 0;
}
.FoFilm{
    background-image: url(../HW06/img/Rectangle\ 9.png);
    width: 151px;
height: 210px;
flex-shrink: 0;
}
.Fifilm{
    background-image: url(../HW06/img/Rectangle\ 11.png);
    width: 148px;
height: 210px;
flex-shrink: 0;
background-repeat: no-repeat;
}
.Ffilm, .Sfilm, .Tfilm, .FoFilm, Fifilm{
    border: 1px solid #FFF;
}
.PegiF{
    display: flex;
    width: 175px;
    height: 212px;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
}
.Pegi{
    display: flex;
    justify-content: flex-end;
    width: 174px;
    height: 66px;
    flex-shrink: 0;
    background: #D40D1F;
    border-color:#D40D1F ;
    padding: 0px auto;
}
.Firstfilms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1863px;
}
.BlocksforFilms{
    width: 885px;
    display: flex;
    justify-content: space-between;
}
.Graycolor{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 145px;
    height: 66px;
    flex-shrink: 0;
    background: gray;
    border-color:gray ;
}
.Navigate{
    width: 549px;
    display: flex;
    height: 74px;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
}
.Leftnavigate{
    width: 61px;
    display: flex;
    justify-content: flex-start;
}
.Left{
    padding: 15px;
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background-image: url(../HW06/img/ic_baseline-navigate-next.png);
    background-color: transparent;
    background-position: 100%;
    background-repeat: no-repeat;
    
}
.Rightnavigate{
    width: 61px;
    display: flex;
    justify-content: flex-start;
}
.Right{
    padding: 15px;
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background-image: url(../HW06/img/ic_baseline-navigate-next\ \(1\).png); 
    background-color: transparent;
    background-position: 100%;
    background-repeat: no-repeat;
}

