*{
    box-sizing: border-box;
}
body{
    background-color:#6c8efc ;
    margin:0 auto;
}
header{   
    padding: 50px;
}
.Head {
    display: flex;
    width: 1765px;
    padding-top: 40px;
    height: 99px;
  }
.PixelCreator{
    padding-left: 10px;
    display: flex;
    color: #FAFAFA;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
.Rectangle{
    position: relative;
    top: 7%;
    display: flex;
    padding-top: 45px;
    padding: 12px;
    background-color: #345AA4, #3F009C;
    border-radius: 3px 0px 0px 3px;
    width: 42px;
    height: 43px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #345AA4 0%, #3F009C 100%);
    box-sizing: border-box;
}
.SecRectangle{
    width: 19px;
    height: 20px;
    flex-shrink: 0;
    background: #FFF;
}
.HomeAndOther{
    margin-left: 35%;
}
.Home, .Contact, .Portfolio, .AboutUs{
    padding-right: 50px;
    color: #EBEBEB;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
width: 163px;
height: 55px;
}
.SIGNUP{ 
   position: relative;    
color:#EBEBEB;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 13px;
background: #4e59f1;
border: 1px #6c4ef1;
width: 163px;
height: 55px;
}
.Title{
    padding: 50px;
    display: flex;
flex-direction: row-reverse;
justify-content: space-between;
}
.content-2{
    display: flex;
    flex-direction: column;
}
.content-1{
    width: 51%;
}
.Text{
    color: #FFF;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.HurryUP{
    position: relative;
    color: #E5E5E5;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.JoinNow{
    position: relative;    
    color:#EBEBEB;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 13px;
    background: #424eee;
    border: 1px #4f44f5;
    width: 277px;
    height: 85px;
}
