*{
    box-sizing: border-box;
}
body{
    background-color:#6c8efc ;
    width: 1694px;
    margin: auto;
}
header{
    padding: 40px;
    display: inline-block;
}
.BaseCont{
}
.PixelCreator{
    color: #FAFAFA;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: -110px;
    top: -52px;
  }
.Rectangle{
    display: inline-block;
    position: relative;
    background-color: #345AA4, #3F009C;
    padding: 13px;
    border-radius: 3px 0px 0px 3px;
    width: 42px;
    height: 43px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #345AA4 0%, #3F009C 100%);
    box-sizing: border-box;
    top: -152px;
    right: -64px;
}
.SecRectangle{
    display: inline-block;
    position: relative;
    width: 19px;
    height: 20px;
    flex-shrink: 0;
    background: #FFF;
    top: 40px;
    right: 34px;
    top: -165px;
    right: -30px;
}
.HomeAndOther{
    position: relative;
    top: -207px;
    right: -900px;
    padding-right: 43px;
}
.Home, .Contact, .Portfolio, .AboutUs{
    padding-right: 50px;
    color: #EBEBEB;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
.SIGNUP{ 
   position: relative;    
color:#EBEBEB;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 13px;
background: #4e59f1;
border: 1px #6c4ef1;
width: 163px;
height: 55px;
}
.Image{
    position: relative;
    top: -234px;
    right: -919px;
    width: 833px;
    height: 664px
}
.Text{
    color: #FFF;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
top: -800px;
right: -103px;
}
.future {
    position: relative;
    top: -71px;
}
.HurryUP{
    position: relative;
    color: #E5E5E5;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: -926px;
    right: -104px;
}
.JoinNow{
    position: relative;    
    color:#EBEBEB;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 13px;
    background: #424eee;
    border: 1px #4f44f5;
    width: 277px;
    height: 85px;
}
